@use "../../utils/" as *;

/*============= HEADER CSS AREA ===============*/

// HOMEPAGE1 HEADER STARTS //
.homepage1-body,
html {
  overflow-x: hidden !important;
}
.commingsoon {
  object-fit: cover;
  border-radius: 4px;
}
.homepage1-body {
  overflow-x: hidden;
  .header-area.homepage1 {
    position: absolute;
    width: 100%;
    z-index: 9999;
    padding: 16px 0;
    transition: all 0.4s;
    nav#navbar-example2 {
      display: block;
      padding: 0;
      ul {
        li {
          a.nav-link.active {
            color: var(--ztc-text-text-4);
          }
        }
      }
    }
    .header-elements {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      transition: all 0.4s;
      .main-menu {
        position: relative;
        ul {
          li {
            display: inline-block;
            position: relative;
            .tp-submenu {
              .homemenu-thumb {
                transition: all 0.4s;
                position: relative;
                z-index: 1;
                &:hover {
                  .img1 {
                    &::after {
                      transform: scale(1);
                      transition: all 0.4s;
                      visibility: visible;
                      opacity: 0.7;
                    }
                  }
                  .homemenu-btn {
                    top: 36%;
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.6s;
                  }
                }
                .img1 {
                  position: relative;
                  z-index: 1;
                  overflow: hidden;
                  &::after {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    transition: all 0.4s;
                    background: var(--ztc-text-text-2);
                    opacity: 0;
                    border-radius: 4px;
                    transform: scale(0.8);
                    z-index: 1;
                    visibility: hidden;
                  }
                  img {
                    height: 100%;
                    width: 100%;
                    border-radius: 4px;
                    transition: all 0.4s;
                    border: 1px solid #e5e7eb;
                  }
                }
                .homemenu-btn {
                  position: absolute;
                  top: 30%;
                  z-index: 2;
                  visibility: hidden;
                  opacity: 0;
                  text-align: center;
                  transition: all 0.6s;
                  margin: 0 auto;
                  left: 25%;
                  right: 25%;
                  .header-btn1 {
                    color: var(--ztc-text-text-1);
                    transition: all 0.4s;
                    padding: 6px 15px;
                  }
                }
              }
              .homemenu-content {
                a {
                  font-family: var(--ztc-family-font1);
                  font-size: var(--ztc-font-size-font-s24);
                  line-height: var(--ztc-font-size-font-s24);
                  font-weight: var(--ztc-weight-semibold);
                  color: var(--ztc-text-text-2);
                  transition: all 0.4s;
                  margin-top: 20px;
                  text-align: center;
                }
              }
            }
            &:hover {
              .tp-submenu {
                visibility: visible;
                transition: all 0.5s ease-in-out;
                opacity: 1;
                z-index: 9;
                top: 50px;
                position: absolute;
                transition: all 0.4s;
              }
              ul.dropdown-padding {
                visibility: visible;
                transition: all 0.5s ease-in-out;
                opacity: 1;
                z-index: 9;
                top: 50px;
                position: absolute;
                transition: all 0.4s;
              }
            }

            a {
              font-family: var(--ztc-family-font1);
              font-size: var(--ztc-font-size-font-s18);
              font-weight: var(--ztc-weight-medium);
              color: var(--ztc-text-text-2);
              display: inline-block;
              transition: all 0.4s;
              padding: 0 20px;
            }
            &:hover > a {
              transition: all 0.4s;
              color: var(--ztc-text-text-4) !important;
            }

            .tp-submenu {
              visibility: hidden;
              opacity: 0;
              box-shadow: rgb(0 0 0 / 20%) 0px 20px 30px;
              position: absolute;
              background: var(--ztc-text-text-1);
              top: 100px;
              z-index: 1;
              transition: all 0.4s;
              border-radius: 5px;
              padding: 15px;
              left: -255px;
              width: 1300px;
              max-height: 600px;

              overflow: hidden;
              overflow-y: scroll;
            }
            ul.dropdown-padding {
              visibility: hidden;
              opacity: 0;
              box-shadow: rgb(0 0 0 / 20%) 0px 20px 30px;
              position: absolute;
              background: var(--ztc-text-text-1);
              top: 100px;
              width: 225px;
              z-index: 1;
              transition: all 0.4s;
              border-radius: 5px;
              padding: 15px;
              li.main-small-menu {
                position: relative;
                &:hover > a {
                  transition: all 0.4s;
                  padding-left: 25px;
                  color: var(--ztc-text-text-4);
                }
                &:hover > a::after {
                  background: var(--ztc-text-text-4);
                  transition: all 0.4s;
                  visibility: visible;
                  opacity: 1;
                  color: var(--ztc-text-text-4);
                }
              }

              li {
                display: block;
                a {
                  font-family: var(--ztc-family-font1);
                  font-weight: var(--ztc-weight-medium);
                  transition: all 0.4s;
                  padding: 8px;
                  display: block;
                  position: relative;
                  z-index: 1;
                  border-radius: 4px;
                  color: var(--ztc-text-text-2);
                  &::after {
                    position: absolute;
                    content: "";
                    height: 25px;
                    width: 3px;
                    transition: all 0.4s;
                    z-index: -1;
                    left: -10px;
                    top: 20%;
                    border-radius: 4px;
                    display: inline-block;
                    visibility: hidden;
                    opacity: 0;
                    background: var(--ztc-text-text-4);
                  }
                  &:hover {
                    padding-left: 25px;
                    color: var(--ztc-text-text-4);
                    &::after {
                      border-radius: 4px;
                      visibility: visible;
                      transition: all 0.4s;
                      opacity: 1;
                      left: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.header-area.homepage1.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translate3d(0, 0, 0);
  z-index: 111;
  -webkit-animation-name: fade-in-down;
  animation-name: fade-in-down;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background: var(--ztc-text-text-1);
  transition: all 0.4s;
}

.btn-area {
  display: flex;
  align-items: center;
  .search-icon {
    a {
      right: 19px;
      position: relative;
      font-size: var(--ztc-font-size-font-s20);
      color: var(--ztc-bg-bg-1);
    }
  }
}
// HOMEPAGE1 HEADER ENDS //

// HOMEPAGE2 HEADER STARTS //
.homepage2-body {
  overflow-x: hidden;
  @media #{$xs} {
    overflow-x: hidden;
  }
  @media #{$md} {
    overflow-x: hidden;
  }
  .header-area.homepage2 {
    position: absolute;
    width: 100%;
    z-index: 9999;
    padding: 16px 0;
    transition: all 0.4s;
    nav#navbar-example2 {
      display: block;
      padding: 0;
      ul {
        li {
          a.nav-link.active {
            color: var(--ztc-text-text-5);
          }
        }
      }
    }
    .header-elements {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      transition: all 0.4s;
      .main-menu {
        position: relative;
        .header-btn3 {
          margin: 0 0 0 12px;
        }
        ul {
          li {
            display: inline-block;
            position: relative;
            .tp-submenu {
              .homemenu-thumb {
                transition: all 0.4s;
                position: relative;
                z-index: 1;
                &:hover {
                  .img1 {
                    &::after {
                      transform: scale(1);
                      transition: all 0.4s;
                      visibility: visible;
                      opacity: 0.7;
                    }
                  }
                  .homemenu-btn {
                    top: 33%;
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.6s;
                  }
                }
                .img1 {
                  position: relative;
                  z-index: 1;
                  overflow: hidden;
                  &::after {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    transition: all 0.4s;
                    background: var(--ztc-text-text-2);
                    opacity: 0;
                    border-radius: 4px;
                    transform: scale(0.8);
                    z-index: 1;
                    visibility: hidden;
                  }
                  img {
                    height: 100%;
                    width: 100%;
                    border-radius: 4px;
                    transition: all 0.4s;
                    border: 1px solid #e5e7eb;
                  }
                }
                .homemenu-btn {
                  position: absolute;
                  top: 30%;
                  z-index: 2;
                  visibility: hidden;
                  opacity: 0;
                  text-align: center;
                  transition: all 0.6s;
                  margin: 0 auto;
                  left: 25%;
                  right: 25%;
                  .header-btn4 {
                    color: var(--ztc-text-text-1);
                    transition: all 0.4s;
                    padding: 16px;
                    &:hover {
                      color: var(--ztc-text-text-2);
                      font-family: var(--ztc-family-font1) !important;
                      line-height: 16px !important;
                      font-weight: var(--ztc-weight-semibold) !important;
                    }
                  }
                }
              }
              .homemenu-content {
                a {
                  font-family: var(--ztc-family-font1);
                  font-size: var(--ztc-font-size-font-s24);
                  line-height: var(--ztc-font-size-font-s24);
                  font-weight: var(--ztc-weight-semibold);
                  color: var(--ztc-text-text-2);
                  transition: all 0.4s;
                  margin-top: 20px;
                }
              }
            }
            &:hover {
              .tp-submenu {
                visibility: visible;
                transition: all 0.5s ease-in-out;
                opacity: 1;
                z-index: 9;
                top: 50px;
                position: absolute;
                transition: all 0.4s;
              }
              ul.dropdown-padding {
                visibility: visible;
                transition: all 0.5s ease-in-out;
                opacity: 1;
                z-index: 9;
                top: 50px;
                position: absolute;
                transition: all 0.4s;
              }
            }

            a {
              font-family: var(--ztc-family-font1);
              font-size: var(--ztc-font-size-font-s18);
              font-weight: var(--ztc-weight-medium);
              color: var(--ztc-text-text-1);
              display: inline-block;
              transition: all 0.4s;
              padding: 0 20px;
            }
            &:hover > a {
              transition: all 0.4s;
              color: var(--ztc-text-text-5) !important;
            }
            .tp-submenu {
              visibility: hidden;
              opacity: 0;
              box-shadow: rgb(0 0 0 / 20%) 0px 20px 30px;
              position: absolute;
              background: var(--ztc-text-text-1);
              top: 100px;
              z-index: 1;
              transition: all 0.4s;
              border-radius: 5px;
              padding: 15px;
              left: -400px;
              width: 1300px;
              overflow: hidden;
              overflow-y: scroll;
              max-height: 600px;
            }
            ul.dropdown-padding {
              visibility: hidden;
              opacity: 0;
              box-shadow: rgb(0 0 0 / 20%) 0px 20px 30px;
              position: absolute;
              background: var(--ztc-text-text-1);
              top: 100px;
              width: 225px;
              z-index: 1;
              transition: all 0.4s;
              border-radius: 5px;
              padding: 15px;
              li.main-small-menu {
                position: relative;
                &:hover > a {
                  transition: all 0.4s;
                  padding-left: 25px;
                  color: var(--ztc-text-text-5);
                }
                &:hover > a::after {
                  background: var(--ztc-text-text-5);
                  transition: all 0.4s;
                  visibility: visible;
                  opacity: 1;
                  color: var(--ztc-text-text-5);
                }
              }

              li {
                display: block;
                a {
                  font-family: var(--ztc-family-font1);
                  font-weight: var(--ztc-weight-medium);
                  transition: all 0.4s;
                  padding: 8px;
                  display: block;
                  position: relative;
                  z-index: 1;
                  border-radius: 4px;
                  color: var(--ztc-text-text-2);
                  &::after {
                    position: absolute;
                    content: "";
                    height: 25px;
                    width: 3px;
                    transition: all 0.4s;
                    z-index: -1;
                    left: -10px;
                    top: 20%;
                    border-radius: 4px;
                    display: inline-block;
                    visibility: hidden;
                    opacity: 0;
                    background: var(--ztc-text-text-5);
                  }
                  &:hover {
                    padding-left: 25px;
                    color: var(--ztc-text-text-5);
                    &::after {
                      border-radius: 4px;
                      visibility: visible;
                      transition: all 0.4s;
                      opacity: 1;
                      left: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.header-area.homepage2.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translate3d(0, 0, 0);
  z-index: 111;
  -webkit-animation-name: fade-in-down;
  animation-name: fade-in-down;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background: var(--ztc-text-text-2);
  transition: all 0.4s;
}

// HOMEPAGE2 HEADER ENDS //

// HOMEPAGE3 HEADER STARTS //
.homepage3-body {
  .header-area.homepage3 {
    position: absolute;
    width: 100%;
    z-index: 9999;
    padding: 16px 0;
    transition: all 0.4s;
    nav#navbar-example2 {
      display: block;
      padding: 0;
      ul {
        li {
          a.nav-link.active {
            color: var(--ztc-text-text-5);
          }
        }
      }
    }
    .header-elements {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      transition: all 0.4s;
      .main-menu {
        position: relative;
        .header-btn3 {
          margin: 0 0 0 12px;
        }
        ul {
          li {
            display: inline-block;
            position: relative;
            .tp-submenu {
              .homemenu-thumb {
                transition: all 0.4s;
                position: relative;
                z-index: 1;
                &:hover {
                  .img1 {
                    &::after {
                      transform: scale(1);
                      transition: all 0.4s;
                      visibility: visible;
                      opacity: 0.7;
                    }
                  }
                  .homemenu-btn {
                    top: 37%;
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.6s;
                  }
                }
                .img1 {
                  position: relative;
                  z-index: 1;
                  overflow: hidden;
                  &::after {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    transition: all 0.4s;
                    background: var(--ztc-text-text-2);
                    opacity: 0;
                    border-radius: 4px;
                    transform: scale(0.8);
                    z-index: 1;
                    visibility: hidden;
                  }
                  img {
                    height: 100%;
                    width: 100%;
                    border-radius: 4px;
                    transition: all 0.4s;
                    border: 1px solid #e5e7eb;
                  }
                }
                .homemenu-btn {
                  position: absolute;
                  top: 30%;
                  z-index: 2;
                  visibility: hidden;
                  opacity: 0;
                  text-align: center;
                  transition: all 0.6s;
                  margin: 0 auto;
                  left: 25%;
                  right: 25%;
                  .header-btn4 {
                    color: var(--ztc-text-text-1);
                    transition: all 0.4s;
                    padding: 16px;
                    &:hover {
                      color: var(--ztc-text-text-2);
                      font-family: var(--ztc-family-font1) !important;
                      line-height: 16px !important;
                      font-weight: var(--ztc-weight-semibold) !important;
                    }
                  }
                }
              }
              .homemenu-content {
                a {
                  font-family: var(--ztc-family-font1);
                  font-size: var(--ztc-font-size-font-s24);
                  line-height: var(--ztc-font-size-font-s24);
                  font-weight: var(--ztc-weight-semibold);
                  color: var(--ztc-text-text-2);
                  transition: all 0.4s;
                  margin-top: 20px;
                }
              }
            }
            &:hover {
              .tp-submenu {
                visibility: visible;
                transition: all 0.5s ease-in-out;
                opacity: 1;
                z-index: 9;
                top: 50px;
                position: absolute;
                transition: all 0.4s;
              }
              ul.dropdown-padding {
                visibility: visible;
                transition: all 0.5s ease-in-out;
                opacity: 1;
                z-index: 9;
                top: 50px;
                position: absolute;
                transition: all 0.4s;
              }
            }

            a {
              font-family: var(--ztc-family-font1);
              font-size: var(--ztc-font-size-font-s18);
              font-weight: var(--ztc-weight-medium);
              color: var(--ztc-text-text-2);
              display: inline-block;
              transition: all 0.4s;
              padding: 0 20px;
            }
            &:hover > a {
              transition: all 0.4s;
              color: var(--ztc-text-text-5) !important;
            }

            .tp-submenu {
              visibility: hidden;
              opacity: 0;
              box-shadow: rgb(0 0 0 / 20%) 0px 20px 30px;
              position: absolute;
              background: var(--ztc-text-text-1);
              top: 100px;
              z-index: 1;
              transition: all 0.4s;
              border-radius: 5px;
              padding: 15px;
              left: -400px;
              width: 1300px;
              max-height: 600px;
              overflow: hidden;
              overflow-y: scroll;
            }
            ul.dropdown-padding {
              visibility: hidden;
              opacity: 0;
              box-shadow: rgb(0 0 0 / 20%) 0px 20px 30px;
              position: absolute;
              background: var(--ztc-text-text-1);
              top: 100px;
              width: 225px;
              z-index: 1;
              transition: all 0.4s;
              border-radius: 5px;
              padding: 15px;
              li.main-small-menu {
                position: relative;
                &:hover > a {
                  transition: all 0.4s;
                  padding-left: 25px;
                  color: var(--ztc-text-text-5);
                }
                &:hover > a::after {
                  background: var(--ztc-text-text-5);
                  transition: all 0.4s;
                  visibility: visible;
                  opacity: 1;
                  color: var(--ztc-text-text-5);
                }
              }

              li {
                display: block;
                a {
                  font-family: var(--ztc-family-font1);
                  font-weight: var(--ztc-weight-medium);
                  transition: all 0.4s;
                  padding: 8px;
                  display: block;
                  position: relative;
                  z-index: 1;
                  border-radius: 4px;
                  color: var(--ztc-text-text-2);
                  &::after {
                    position: absolute;
                    content: "";
                    height: 25px;
                    width: 3px;
                    transition: all 0.4s;
                    z-index: -1;
                    left: -10px;
                    top: 20%;
                    border-radius: 4px;
                    display: inline-block;
                    visibility: hidden;
                    opacity: 0;
                    background: var(--ztc-text-text-5);
                  }
                  &:hover {
                    padding-left: 25px;
                    color: var(--ztc-text-text-5);
                    &::after {
                      border-radius: 4px;
                      visibility: visible;
                      transition: all 0.4s;
                      opacity: 1;
                      left: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.header-area.homepage3.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translate3d(0, 0, 0);
  z-index: 111;
  -webkit-animation-name: fade-in-down;
  animation-name: fade-in-down;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background: var(--ztc-text-text-1);
  transition: all 0.4s;
  box-shadow: rgb(0 0 0 / 20%) 0px 20px 30px;
}

// HOMEPAGE3 HEADER ENDS //

// HOMEPAGE4 HEADER STARTS //
.homepage4-body {
  overflow-x: hidden;
  .header-area.homepage4 {
    position: absolute;
    width: 100%;
    z-index: 9999;
    padding: 16px 0;
    transition: all 0.4s;
    background: var(--ztc-text-text-1);
    nav#navbar-example2 {
      display: block;
      padding: 0;
      ul {
        li {
          a.nav-link.active {
            color: var(--ztc-text-text-6);
          }
        }
      }
    }
    .header-elements {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      transition: all 0.4s;
      .main-menu {
        position: relative;
        .header-btn3 {
          margin: 0 0 0 12px;
        }
        ul {
          li {
            display: inline-block;
            position: relative;
            .tp-submenu {
              .homemenu-thumb {
                transition: all 0.4s;
                position: relative;
                z-index: 1;
                &:hover {
                  .img1 {
                    &::after {
                      transform: scale(1);
                      transition: all 0.4s;
                      visibility: visible;
                      opacity: 0.7;
                    }
                  }
                  .homemenu-btn {
                    top: 33%;
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.6s;
                  }
                }
                .img1 {
                  position: relative;
                  z-index: 1;
                  overflow: hidden;
                  &::after {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    transition: all 0.4s;
                    background: var(--ztc-text-text-2);
                    opacity: 0;
                    border-radius: 4px;
                    transform: scale(0.8);
                    z-index: 1;
                    visibility: hidden;
                  }
                  img {
                    height: 100%;
                    width: 100%;
                    border-radius: 4px;
                    transition: all 0.4s;
                    border: 1px solid #e5e7eb;
                  }
                }
                .homemenu-btn {
                  position: absolute;
                  top: 30%;
                  z-index: 2;
                  visibility: hidden;
                  opacity: 0;
                  text-align: center;
                  transition: all 0.6s;
                  margin: 0 auto;
                  left: 25%;
                  right: 25%;
                  .header-btn6 {
                    color: var(--ztc-text-text-1);
                    transition: all 0.4s;
                    padding: 16px 0;
                    line-height: var(--ztc-font-size-font-s16);
                    border-top: 1px solid var(--ztc-text-text-1);
                    border-bottom: 1px solid var(--ztc-text-text-1);
                    &:hover {
                      color: var(--ztc-text-text-1);
                      font-family: var(--ztc-family-font1) !important;
                      line-height: 16px !important;
                      font-weight: var(--ztc-weight-semibold) !important;
                      letter-spacing: 2;
                    }
                  }

                  .header-btn12 {
                    display: inline-block;
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    line-height: var(--ztc-font-size-font-s18);
                    font-weight: var(--ztc-weight-bold);
                    background: var(--ztc-text-text-6);
                    color: var(--ztc-text-text-1);
                    padding: 16px 24px;
                    transition: all 0.4s;
                    border-radius: 30px;
                    position: relative;
                    text-transform: capitalize;
                    z-index: 1;
                    &:hover {
                      color: var(--ztc-text-text-2);
                      transition: all 0.4s;
                      transform: translateY(-5px);
                      background: var(--ztc-text-text-1);
                    }
                  }
                }
              }
              .homemenu-content {
                a {
                  font-family: var(--ztc-family-font1);
                  font-size: var(--ztc-font-size-font-s24);
                  line-height: var(--ztc-font-size-font-s24);
                  font-weight: var(--ztc-weight-semibold);
                  color: var(--ztc-text-text-2);
                  transition: all 0.4s;
                  margin-top: 20px;
                }
              }
            }
            &:hover {
              .tp-submenu {
                visibility: visible;
                transition: all 0.5s ease-in-out;
                opacity: 1;
                z-index: 9;
                top: 50px;
                position: absolute;
                transition: all 0.4s;
              }
              ul.dropdown-padding {
                visibility: visible;
                transition: all 0.5s ease-in-out;
                opacity: 1;
                z-index: 9;
                top: 50px;
                position: absolute;
                transition: all 0.4s;
              }
            }

            a {
              font-family: var(--ztc-family-font1);
              font-size: var(--ztc-font-size-font-s18);
              font-weight: var(--ztc-weight-medium);
              color: var(--ztc-text-text-2);
              display: inline-block;
              transition: all 0.4s;
              padding: 0 20px;
            }
            &:hover > a {
              transition: all 0.4s;
              color: var(--ztc-text-text-6) !important;
            }

            .tp-submenu {
              visibility: hidden;
              opacity: 0;
              box-shadow: rgb(0 0 0 / 20%) 0px 20px 30px;
              position: absolute;
              background: var(--ztc-text-text-1);
              top: 100px;
              z-index: 1;
              transition: all 0.4s;
              border-radius: 5px;
              padding: 15px;
              left: -315px;
              width: 1300px;
              max-height: 600px;
              overflow: hidden;
              overflow-y: scroll;
            }

            ul.dropdown-padding {
              visibility: hidden;
              opacity: 0;
              box-shadow: rgb(0 0 0 / 20%) 0px 20px 30px;
              position: absolute;
              background: var(--ztc-text-text-1);
              top: 100px;
              width: 225px;
              z-index: 1;
              transition: all 0.4s;
              border-radius: 5px;
              padding: 15px;
              li.main-small-menu {
                position: relative;
                &:hover > a {
                  transition: all 0.4s;
                  padding-left: 25px;
                  color: var(--ztc-text-text-6);
                }
                &:hover > a::after {
                  background: var(--ztc-text-text-6);
                  transition: all 0.4s;
                  visibility: visible;
                  opacity: 1;
                  color: var(--ztc-text-text-6);
                }
              }

              li {
                display: block;
                a {
                  font-family: var(--ztc-family-font1);
                  font-weight: var(--ztc-weight-medium);
                  transition: all 0.4s;
                  padding: 8px;
                  display: block;
                  position: relative;
                  z-index: 1;
                  border-radius: 4px;
                  color: var(--ztc-text-text-2);
                  &::after {
                    position: absolute;
                    content: "";
                    height: 25px;
                    width: 3px;
                    transition: all 0.4s;
                    z-index: -1;
                    left: -10px;
                    top: 20%;
                    border-radius: 4px;
                    display: inline-block;
                    visibility: hidden;
                    opacity: 0;
                    background: var(--ztc-text-text-6);
                  }
                  &:hover {
                    padding-left: 25px;
                    color: var(--ztc-text-text-6);
                    &::after {
                      border-radius: 4px;
                      visibility: visible;
                      transition: all 0.4s;
                      opacity: 1;
                      left: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.header-area.homepage4.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translate3d(0, 0, 0);
  z-index: 111;
  -webkit-animation-name: fade-in-down;
  animation-name: fade-in-down;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background: var(--ztc-text-text-1);
  transition: all 0.4s;
  box-shadow: rgb(0 0 0 / 20%) 0px 20px 30px;
}

// HOMEPAGE4 HEADER ENDS //

// HOMEPAGE5 HEADER STARTS //
.homepage5-body {
  overflow-x: hidden;
  .header-area.homepage5 {
    position: absolute;
    width: 100%;
    z-index: 9999;
    padding: 16px 0;
    transition: all 0.4s;
    nav#navbar-example2 {
      display: block;
      padding: 0;
      ul {
        li {
          a.nav-link.active {
            color: var(--ztc-text-text-11);
          }
        }
      }
    }
    .header-elements {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      transition: all 0.4s;
      .main-menu {
        position: relative;
        .header-btn3 {
          margin: 0 0 0 12px;
        }
        ul {
          li {
            display: inline-block;
            position: relative;
            .tp-submenu {
              .homemenu-thumb {
                transition: all 0.4s;
                position: relative;
                z-index: 1;
                &:hover {
                  .img1 {
                    &::after {
                      transform: scale(1);
                      transition: all 0.4s;
                      visibility: visible;
                      opacity: 0.7;
                    }
                  }
                  .homemenu-btn {
                    top: 33%;
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.6s;
                  }
                }
                .img1 {
                  position: relative;
                  z-index: 1;
                  overflow: hidden;
                  &::after {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    transition: all 0.4s;
                    background: var(--ztc-text-text-2);
                    opacity: 0;
                    border-radius: 4px;
                    transform: scale(0.8);
                    z-index: 1;
                    visibility: hidden;
                  }
                  img {
                    height: 100%;
                    width: 100%;
                    border-radius: 4px;
                    transition: all 0.4s;
                    border: 1px solid #e5e7eb;
                  }
                }
                .homemenu-btn {
                  position: absolute;
                  top: 30%;
                  z-index: 2;
                  visibility: hidden;
                  opacity: 0;
                  text-align: center;
                  transition: all 0.6s;
                  margin: 0 auto;
                  left: 25%;
                  right: 25%;
                  .header-btn9 {
                    color: var(--ztc-text-text-2);
                    transition: all 0.4s;
                    padding: 16px;
                    &:hover {
                      color: var(--ztc-text-text-2);
                      font-family: var(--ztc-family-font1) !important;
                      line-height: 16px !important;
                      font-weight: var(--ztc-weight-semibold) !important;
                    }
                  }
                }
              }
              .homemenu-content {
                a {
                  font-family: var(--ztc-family-font1);
                  font-size: var(--ztc-font-size-font-s24);
                  line-height: var(--ztc-font-size-font-s24);
                  font-weight: var(--ztc-weight-semibold);
                  color: var(--ztc-text-text-2);
                  transition: all 0.4s;
                  margin-top: 20px;
                }
              }
            }
            &:hover {
              .tp-submenu {
                visibility: visible;
                transition: all 0.5s ease-in-out;
                opacity: 1;
                z-index: 9;
                top: 50px;
                position: absolute;
                transition: all 0.4s;
              }
              ul.dropdown-padding {
                visibility: visible;
                transition: all 0.5s ease-in-out;
                opacity: 1;
                z-index: 9;
                top: 50px;
                position: absolute;
                transition: all 0.4s;
              }
            }

            a {
              font-family: var(--ztc-family-font1);
              font-size: var(--ztc-font-size-font-s18);
              font-weight: var(--ztc-weight-medium);
              color: var(--ztc-text-text-1);
              display: inline-block;
              transition: all 0.4s;
              padding: 0 20px;
            }
            &:hover > a {
              transition: all 0.4s;
              color: var(--ztc-text-text-11) !important;
            }

            .tp-submenu {
              visibility: hidden;
              opacity: 0;
              box-shadow: rgb(0 0 0 / 20%) 0px 20px 30px;
              position: absolute;
              background: var(--ztc-text-text-1);
              top: 100px;
              z-index: 1;
              transition: all 0.4s;
              border-radius: 5px;
              padding: 15px;
              left: -285px;
              width: 1300px;
              max-height: 600px;
              overflow: hidden;
              overflow-y: scroll;
            }
            ul.dropdown-padding {
              visibility: hidden;
              opacity: 0;
              box-shadow: rgb(0 0 0 / 20%) 0px 20px 30px;
              position: absolute;
              background: var(--ztc-text-text-1);
              top: 100px;
              width: 225px;
              z-index: 1;
              transition: all 0.4s;
              border-radius: 5px;
              padding: 15px;
              li.main-small-menu {
                position: relative;
                &:hover > a {
                  transition: all 0.4s;
                  padding-left: 25px;
                  color: var(--ztc-text-text-11);
                }
                &:hover > a::after {
                  background: var(--ztc-text-text-11);
                  transition: all 0.4s;
                  visibility: visible;
                  opacity: 1;
                  color: var(--ztc-text-text-11);
                }
              }

              li {
                display: block;
                a {
                  font-family: var(--ztc-family-font1);
                  font-weight: var(--ztc-weight-medium);
                  transition: all 0.4s;
                  padding: 8px;
                  display: block;
                  position: relative;
                  z-index: 1;
                  border-radius: 4px;
                  color: var(--ztc-text-text-2);
                  &::after {
                    position: absolute;
                    content: "";
                    height: 25px;
                    width: 3px;
                    transition: all 0.4s;
                    z-index: -1;
                    left: -10px;
                    top: 20%;
                    border-radius: 4px;
                    display: inline-block;
                    visibility: hidden;
                    opacity: 0;
                    background: var(--ztc-text-text-11);
                  }
                  &:hover {
                    padding-left: 25px;
                    color: var(--ztc-text-text-11);
                    &::after {
                      border-radius: 4px;
                      visibility: visible;
                      transition: all 0.4s;
                      opacity: 1;
                      left: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.header-area.homepage5.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translate3d(0, 0, 0);
  z-index: 111;
  -webkit-animation-name: fade-in-down;
  animation-name: fade-in-down;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background: var(--ztc-bg-bg-18);
  transition: all 0.4s;
  box-shadow: rgb(0 0 0 / 20%) 0px 20px 30px;
  .header-elements {
    .main-menu {
      ul {
        li {
          a {
            color: var(--ztc-text-text-1);
          }
        }
      }
    }
  }
}

// HOMEPAGE5 HEADER ENDS //

/*============= HEADER CSS AREA ENDS ===============*/
